{{define "body"}}
<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
    </head>
    <body>
        {{range .tickets}}
            <p>{{.FirstName}}<p>
            <p>{{.TicketId}}
            {{/* <img src="{{.TicketId}}.jpg" alt="Girl in a jacket" width="500" height="600"> */}}
        {{end}}
    </body>
</html>

{{end}}